@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	/* ... */
}

#root {
	display: hidden;
}
/* Works on Firefox */
.scroll-container {
	scrollbar-color: white transparent;
}

.scroll-container {
	overflow: auto; /* or overflow-y: scroll; */
	scrollbar-width: none;
	-ms-overflow-style: none;
}
